 
 <div class="header">
 <h2  >Existing Students</h2> 
 <h3><a href="/" class="add-user">ADD Users</a></h3>

 </div>
    <table>
        <thead>
            <tr>
                    <th>S.No</th>
                <th>Name</th>
                <th>Registration Number</th>
                <th>Department</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr>
               <td>{{1}}</td>
                <td>{{this.name}}</td>
                <td>{{this.registration_number}}</td>
                <td>{{this.dept}}</td>
                <td>{{this.dob}}</td>
                <td>{{this.email}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a href="/updateusers/{{this.name}}" class="update">Update</a>
                </td>
                <td>
                    <a href="/deleteusers/{{this.name}}" class="delete">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    
    </table>